#menu {
    position: absolute;
    right: 0;
    top: 0;
    padding: 1em;
    z-index:100;
}

#menu a {
    display: block;
    color: white;
}

.styles-test {
    background:grey;
    min-height:100vh;
}

#menu p {
    margin-bottom: .4em;
}

body,html {
    background: black;
    color: white;
    font-size: 15px;
}

.glslCanvas {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

.main-title-wrap {
    position: relative;
    transform: perspective(1px) translateY(-50%);
    top: 50vh;
    z-index: 100;
}

.main-title {
    text-align: center;
}

.main-title h2 {
    padding-top: 0;
    color: white;
}

.white-body {
    font-display: 'Helvetica Neue', sans-serif;
    font-size: 1em;
    line-height: 1.5em;
}