.title-bar {
    position: absolute;
    top: 0;
    left: 0;
    padding: 1.5em;
    background: transparent;
    z-index: 100;
    cursor: pointer;
}

.template-work .title-bar {
    background:white;
}

.template-about .title-bar {
    background:black;
}

.page-template-template-work a {
    color: white;
}

.page-template-template-work a:hover {
    text-decoration: underline;
}

.menu-padder {
    margin-top: 7em;
    padding: 1.5em;
}

#frontpage-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 1.5em;
}